[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = main
[submodule "src/components/ehmi_driver"]
	path = src/components/ehmi_driver
	url = https://github.com/aidrivers/ehmi-driver.git
[submodule "src/components/delphi"]
	path = src/components/delphi
	url = https://github.com/aidrivers/radar-delphi.git
[submodule "src/components/honeywell"]
	path = src/components/honeywell
	url = https://github.com/aidrivers/imu-honeywell.git
[submodule "src/components/cam_info_publisher"]
	path = src/components/cam_info_publisher
	url = https://github.com/aidrivers/cam_info_publisher.git
[submodule "src/components/novatel"]
	path = src/components/novatel
	url = https://github.com/aidrivers/gnss-novatel.git
[submodule "src/components/ptgrey"]
	path = src/components/ptgrey
	url = https://github.com/aidrivers/camera-ptgrey.git
[submodule "src/components/rslidar"]
	path = src/components/rslidar
	url = https://github.com/aidrivers/lidar-robosense.git
[submodule "src/components/rslidar_helios"]
	path = src/components/rslidar_helios
	url = https://github.com/aidrivers/lidar-robosense-sdk
[submodule "src/components/airs"]
	path = src/components/airs
	url = https://github.com/aidrivers/airs-l.git
[submodule "src/components/aisd"]
	path = src/components/aisd
	url = https://github.com/aidrivers/aisd.git
[submodule "src/components/aidc"]
	path = src/components/aidc
	url = https://github.com/aidrivers/aidc-l.git
[submodule "src/components/aisc"]
	path = src/components/aisc
	url = https://github.com/aidrivers/aisc-l.git
[submodule "src/components/common"]
	path = src/components/common
	url = https://github.com/aidrivers/aios-l-common.git
[submodule "src/components/hungarian"]
	path = src/components/hungarian
	url = https://github.com/aidrivers/hungarian.git
[submodule "src/components/ukf_tracker"]
	path = src/components/ukf_tracker
	url = https://github.com/aidrivers/ukf_tracker.git
[submodule "src/components/pointcloud-algorithms"]
	path = src/components/pointcloud-algorithms
	url = https://github.com/aidrivers/pointcloud-algorithms.git
[submodule "src/components/supporting-libraries"]
	path = src/components/supporting-libraries
	url = https://github.com/aidrivers/supporting-libraries.git
[submodule "src/components/ehmi-driver"]
	path = src/components/ehmi-driver
	url = https://github.com/aidrivers/ehmi-driver.git
[submodule "src/components/aipe"]
	path = src/components/aipe
	url = https://github.com/aidrivers/aipe-l.git
[submodule "src/components/aide/apm"]
	path = src/components/aide/apm
	url = https://github.com/aidrivers/aide-l.git
[submodule "src/components/aide/3rd_party"]
	path = src/components/aide/3rd_party
	url = https://github.com/aidrivers/aide-l-3rd-party-libraries.git
