<launch>

  <!-- load config -->
  <arg name="config_file_path" default="$(find psa_apm_aipe_config)/cfg/psa_apm_aipe_config.yaml" />
  <rosparam command="load" file="$(arg config_file_path)" />

  <!-- Lane detection -->
  <include file="$(find aipe_config)/cfg/lane_detection/lane_detection.launch" />

  <!-- Scaled YOLO -->
  <include file="$(find psa_apm_aipe_config)/launch/yolo_apm.launch" />
  <!--include file="$(find psa_apm_aipe_config)/launch/yolov7_apm.launch" /-->

  <!-- Traffic light Classifier -->
  <include file="$(find psa_apm_aipe_config)/launch/trafficlight_classifier.launch" />

  <!-- Road/weather condition estimation -->
  <include file="$(find environment_classifier)/launch/environment_classifier.launch" />

</launch>
