<!-- -->
<launch>
<!--********************************* Robot Description Revisioning **********************************-->
<arg name="tf_file_name" 		        default="tf_8426" />	<!-- <Should match the file name> -->
<arg name="design_version" 			default="4" />		<!-- <Sensor (Dual GNSS Config> -->
<arg name="retrofit_revision" 			default="0.0" />	<!-- <***ToBe Revised.*** Sensor Replacement>.<Sensor adjustments>  -->

<rosparam param="tf/info/file_name" subst_value="True">$(arg tf_file_name)</rosparam>
<!--**************************************************************************************************-->

<!--** baselink to sensor root (TC Lidar translation) **-->
<arg name="bl_sr_tf_x" default="4.065 " />
<arg name="bl_sr_tf_y" default="-0.02" />
<arg name="bl_sr_tf_z" default="2.975" />
<arg name="bl_sr_tf_roll" default="0" />
<arg name="bl_sr_tf_pitch" default="0" />
<arg name="bl_sr_tf_yaw" default="0.00" />

<!--** baselink to gnss antenna (translation) **-->
<arg name="bl_gnss_tf_x" default="3.565" />
<arg name="bl_gnss_tf_y" default="0.0" />
<arg name="bl_gnss_tf_z" default="2.867" />
<arg name="bl_gnss_tf_roll" default="0" />
<arg name="bl_gnss_tf_pitch" default="0" />
<arg name="bl_gnss_tf_yaw" default="0" />

<!--** baselink to imu  **-->
<arg name="bl_imu_tf_x" default="3.6" />
<arg name="bl_imu_tf_y" default="-0.725" />
<arg name="bl_imu_tf_z" default="0.95" />
<arg name="bl_imu_tf_roll" default="0" />
<arg name="bl_imu_tf_pitch" default="0" />
<arg name="bl_imu_tf_yaw" default="0.000" />

<arg name="bl_2_ground" default="-0.5" />

<rosparam param="tf/config/bl_sr_tf_x"   subst_value="True">$(arg bl_sr_tf_x)</rosparam>
<rosparam param="tf/config/bl_sr_tf_y"     subst_value="True">$(arg bl_sr_tf_y)</rosparam>
<rosparam param="tf/config/bl_sr_tf_z"     subst_value="True">$(arg bl_sr_tf_z)</rosparam>
<rosparam param="tf/config/bl_sr_tf_roll"  subst_value="True">$(arg bl_sr_tf_roll)</rosparam>
<rosparam param="tf/config/bl_sr_tf_pitch" subst_value="True">$(arg bl_sr_tf_pitch)</rosparam>
<rosparam param="tf/config/bl_sr_tf_yaw"   subst_value="True">$(arg bl_sr_tf_yaw)</rosparam>

<rosparam param="tf/config/bl_gnss_tf_x"     subst_value="True">$(arg bl_gnss_tf_x)</rosparam>
<rosparam param="tf/config/bl_gnss_tf_y"     subst_value="True">$(arg bl_gnss_tf_y)</rosparam>
<rosparam param="tf/config/bl_gnss_tf_z"     subst_value="True">$(arg bl_gnss_tf_z)</rosparam>
<rosparam param="tf/config/bl_gnss_tf_roll"  subst_value="True">$(arg bl_gnss_tf_roll)</rosparam>
<rosparam param="tf/config/bl_gnss_tf_pitch" subst_value="True">$(arg bl_gnss_tf_pitch)</rosparam>
<rosparam param="tf/config/bl_gnss_tf_yaw"   subst_value="True">$(arg bl_gnss_tf_yaw)</rosparam>

<rosparam param="tf/config/bl_imu_tf_x"     subst_value="True">$(arg bl_imu_tf_x)</rosparam>
<rosparam param="tf/config/bl_imu_tf_y"     subst_value="True">$(arg bl_imu_tf_y)</rosparam>
<rosparam param="tf/config/bl_imu_tf_z"     subst_value="True">$(arg bl_imu_tf_z)</rosparam>
<rosparam param="tf/config/bl_imu_tf_roll"  subst_value="True">$(arg bl_imu_tf_roll)</rosparam>
<rosparam param="tf/config/bl_imu_tf_pitch" subst_value="True">$(arg bl_imu_tf_pitch)</rosparam>
<rosparam param="tf/config/bl_imu_tf_yaw"   subst_value="True">$(arg bl_imu_tf_yaw)</rosparam>
<!--**************************************************************************************************-->

  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_view_bl_pitch" args="0.00000 0.00000 0.00000  0.00000 1.57079 0.00000 /base_link      /view_utm_pitch" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_view_bl_roll"  args="0.00000 0.00000 0.00000  0.00000 0.00000 1.57079 /base_link      /view_utm_roll" />


<!-- ************************************************************* Measured TF ********************************************************************** -->
<!-- Radar tf -->                                                              <!--  x           y       z         y        p       r -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_SR_delphi"        args=" 0.78     0       -2.8225   0        0       0       /sensor_root /delphi   "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_delphi_ESR"       args=" 0.00000  0        0        0        0       0       /delphi      /esr      "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_delphi_LEFT_SRR"  args="-0.91500  1.29800 -0.00015 -1.57000  0.00000 0.00000 /delphi      /left_srr " />
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_delphi_RIGHT_SRR" args="-0.91500 -1.29800 -0.00015  1.57000 -0.00000 0.00000 /delphi      /right_srr" />


<!-- ************************************************************* Calibrated TF ********************************************************************** -->
<!-- Lidar tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_SR_robosense"   args=" 0.00000  0.00000  0.00000  0.00000  0.00000  0.00000 sensor_root robosense  "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RStc" args=" 0.00000  0.00000  0.00000  0.00502 -0.00302 -0.00608  robosense rs16_tc "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RSbl" args=" 0.55822  1.30013 -2.10302  1.58603  0.00563  0.01250  robosense rs16_bl "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RSbr" args=" 0.37998 -1.11341 -2.07034 -1.42597 -0.00738 -0.00035  robosense rs16_br "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RStr" args="-0.14983 -1.23218 -0.18128 -1.48369  1.08704  0.07871  robosense rs16_tr "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RStl" args="-0.05248  1.10654 -0.29059  1.31771  1.04950 -0.25337  robosense rs16_tl "/>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_SR_robosense_1"     args=" 0 0 0 0 0 0  /sensor_root /lidar_link "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RStc_1"   args=" 0 0 0 0 0 0  /lidar_link   /lidar_top_center"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RSbl_1"   args=" 0.445699 -1.16948 -2.20478 0.106726  0.0129267 -0.0274305 /lidar_link   /lidar_bottom_right"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RSbr_1"   args=" 0.1946  1.45724 -2.13293  0.132248 0.0212422 0.019104 /lidar_link /lidar_bottom_left"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_Robosense_RSll_tcv" args="-1.00000 0.24500 0.00000 -0.58742 -1.47182 2.14458 lidar_link lidar_top_center_vertical"/>

<!-- Camera Lidar tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_SR_pgrey"         args="-0.14000  0.14500 -0.08865  0.00000  0.00000  0.00000 /sensor_root /pgrey                 "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_cam_ftc"    args=" 0.00000  0.00000  0.00000 -1.55640  0.02599 -1.76731 /pgrey       /cam_front_top_centre  "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_cam_ftr"    args=" 0.26362 -0.95745 -0.03873 -0.52441  0.04387 -1.78594 /pgrey       /cam_front_bottom_right"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_cam_ftl"    args=" 0.08253  0.91957  0.10262 -2.61914  0.00368 -1.82484 /pgrey       /cam_front_bottom_left"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_camera_tcf" args=" 0.00000  0.00000  0.00000 -1.55640  0.02599 -1.76731 /pgrey       /camera_top_center_front  "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_camera_trf" args=" 0.26362 -0.95745 -0.03873 -0.52441  0.04387 -1.78594 /pgrey       /camera_top_right_front"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_camera_tlf" args=" 0.08253  0.91957  0.10262 -2.61914  0.00368 -1.82484 /pgrey       /camera_top_left_front"/>

<!-- SICK Lidar tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_SICK_SCAN_FSS" args="  0.30 0.00 -2.5 0.00 -0.0 -0.0 /sensor_root /sick_fss "/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="robosense_to_lidar_link" args=" 0.00000  0.00000  0.00000  0.00000  0.00000  0.00000 /robosense /lidar_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_to_HGuide" args=" 0.00000  0.00000  0.00000  0.00000  0.00000  0.00000 /imu_link /HGuide"/>

<!-- not in use tf  -->
<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_cam_rtr" args="0.5094 -1.1866 -2.6935 1.2108 3.1131 3.1259 /robosense /cam_rear_top_right"/>-->
<!--  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_cam_rtl" args="-0.0295 -1.2352 -0.2999 1.5542 2.0864 -3.1383 /robosense /cam_rear_top_left"/>-->
<!--  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_camRS_cam_fbc" args="0.5019 1.1478 -2.6467 -1.7300 -0.0400 -2.1600 /robosense /cam_front_bottom_centre"/> -->

<!-- 0.60017 -1.34948 -1.99710 -1.54708 0.00597 -0.00083 /robosense /rs16_br
0.46925 -1.28403 -1.99710 -1.54708 0.00597 -0.00083 /robosense /rs16_br
-->

<!-- ************************************************************* Test TF ********************************************************************** -->
<!-- GNSS Lidar tf -->
  <!--node pkg="tf2_ros" type="static_transform_publisher" name="TF_robosense_emlid" args="0.216327  0.578045 0    0.014138  0 0 /robosense /emlid "/-->



<!-- ************************************************************* Parametric TF ********************************************************************** -->
<!-- Base_link tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_bl_Robosense" args="$(arg bl_sr_tf_x) $(arg bl_sr_tf_y) $(arg bl_sr_tf_z) $(arg bl_sr_tf_yaw) $(arg bl_sr_tf_pitch) $(arg bl_sr_tf_roll) /base_link /sensor_root"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_bl_nt" args="$(arg bl_gnss_tf_x) $(arg bl_gnss_tf_y) $(arg bl_gnss_tf_z) $(arg bl_gnss_tf_yaw) $(arg bl_gnss_tf_pitch) $(arg bl_gnss_tf_roll) base_link gnss_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_gnss_gl_Link"       args=" 0.00000  0.00000  0.00000  0.00000  0.00000  0.00000 /gnss_link  /novatel"/> 
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_bl_xs" args="$(arg bl_imu_tf_x) $(arg bl_imu_tf_y) $(arg bl_imu_tf_z) $(arg bl_imu_tf_yaw) $(arg bl_imu_tf_pitch) $(arg bl_imu_tf_roll) /base_link /xsens1"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_bl_xsil" args="$(arg bl_imu_tf_x) $(arg bl_imu_tf_y) $(arg bl_imu_tf_z) $(arg bl_imu_tf_yaw) $(arg bl_imu_tf_pitch) $(arg bl_imu_tf_roll) /base_link /imu_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="TF_bl_ground" args="0 0 $(arg bl_2_ground) 0 0 0 /base_link /ground_approx"/>

<!-- ************************************************************* Map TF ********************************************************************** -->
<!--**************************** aide_map_origin utm frame ****************************-->
<arg name="aide_map_origin_tf_x" default="365424.53" />
<arg name="aide_map_origin_tf_y" default="140536.49" />
<arg name="aide_map_origin_tf_z" default="0.0" />
<arg name="aide_map_origin_tf_roll" default="0" />
<arg name="aide_map_origin_tf_pitch" default="0" />
<arg name="aide_map_origin_tf_yaw" default="-0.538048356" /> <!-- 30.8279deg -->

<rosparam param="tf/map/aide_map_origin_tf_x"     subst_value="True">$(arg aide_map_origin_tf_x)</rosparam>
<rosparam param="tf/map/aide_map_origin_tf_y"     subst_value="True">$(arg aide_map_origin_tf_y)</rosparam>
<rosparam param="tf/map/aide_map_origin_tf_z"     subst_value="True">$(arg aide_map_origin_tf_z)</rosparam>
<rosparam param="tf/map/aide_map_origin_tf_roll"  subst_value="True">$(arg aide_map_origin_tf_roll)</rosparam>
<rosparam param="tf/map/aide_map_origin_tf_pitch" subst_value="True">$(arg aide_map_origin_tf_pitch)</rosparam>
<rosparam param="tf/map/aide_map_origin_tf_yaw"   subst_value="True">$(arg aide_map_origin_tf_yaw)</rosparam>

<node pkg="tf2_ros" type="static_transform_publisher" name="utm_to_aidemap" args="$(arg aide_map_origin_tf_x) $(arg aide_map_origin_tf_y) $(arg aide_map_origin_tf_z) $(arg aide_map_origin_tf_yaw) $(arg aide_map_origin_tf_pitch) $(arg aide_map_origin_tf_roll) /utm /aide_map "/>

<!-- ******************************************************************************************************************************************** -->
</launch>

