<launch>
     <include file="$(find pointgrey_camera_driver)/launch/camera.launch"/>
     <rosparam ns="/camera/camera_nodelet" param="auto_exposure">
     false
     </rosparam>
     <rosparam ns="/camera/image_raw" param="disable_pub_plugins">   
     - 'image_transport/compressedDepth'
     </rosparam>
     <rosparam ns="/camera/image_raw/compressed" param="jpeg_quality">
     65
     </rosparam>

</launch>
