<?xml version="1.0"?>
<launch>
    <rosparam param="/airs/config/gnss"   subst_value="True">0</rosparam>

  <arg name="ip" default="192.168.1.125" />
  <arg name="port" default="2000" />
  <node name="novatel"
        pkg="nodelet" type="nodelet"
        args="standalone novatel_gps_driver/novatel_gps_nodelet">
	<param name="device" value="$(arg ip):$(arg port)"/>
    <rosparam>
      verbose: true
      connection_type: tcp
      imu_sample_rate: -1
      use_binary_messages: true
      publish_novatel_positions: true
      publish_novatel_utm_positions: true
      publish_imu_messages: true
      publish_imu: true
      publish_novatel_velocity: true
      imu_frame_id: /imu
      publish_nmea_messages: true
      frame_id: /gps
    </rosparam>
  </node>
</launch>
