<?xml version="1.0"?>
<launch>


  <!--****** Ros Console Config ****** -->
  <env name="ROSCONSOLE_FORMAT" value="[${node}]: ${message}"/>

  <!--****** Node Launch ****** -->
  <group ns="aios/v2i_handler" >
    <node pkg="v2i_handler" type="v2i_handler" name="v2i_handler_node" output="screen"/>

    <include file="$(find https_client)/launch/https_client.launch" />
  </group>

    <!-- <include file="$(find v2i_control)/launch/v2i_control.launch" /> -->
</launch>

