<launch>
  <!-- lidar id, must be one of: rs16_br, rs16_tr, rs16_tc, rs16_tl, rs16_bl -->
  <arg name="lidar_id" default="lidar_bottom_left"/>

  <!--param name="lidar_config" value="$(find rslidar_sdk)/config/$(arg lidar_id).yaml"/>

  <param if="$(eval simulation == 'true')" name="msg_source" value="2"/>
  <param if="$(eval simulation == 'true')" name="send_packet_ros" value="false"/-->

  <!-- <group ns="$(arg lidar_id)" > -->
  <node pkg="rslidar_sdk" name="rslidar_nodelet_manager" type="rslidar_sdk_node" output="screen" ns="$(arg lidar_id)">
    <param name="config_path" value="$(find rslidar_sdk)/config/$(arg lidar_id).yaml"/>
  </node>
  <!-- </group> -->
</launch>