<?xml version="1.0"?>
<launch>
   <!--****** Ros Console Config ****** -->
   <env name="ROSCONSOLE_FORMAT" value="[${node}]: ${message}"/>
    <!-- <arg name="remote_ops_config_file" default="$(find remote_ops)/config/remote_console_config.yaml"/>
    <rosparam command="load" file="$(arg remote_ops_config_file)"/>
    <node pkg = "remote_ops" type ="remote_console" name = "remote_console" output="screen">
    </node> -->

    <include file="$(find remote_ops)/launch/remote_mqtt_client.launch"/>
 
</launch>
