<!-- -*- mode: XML -*- -->
<!-- run hg_nav_node/serial_publisher_nav via /dev/ttyUSB0 at 921600 -->
<!-- run the transformations defined by vehicle_tf.YAML file -->

<launch>


    <rosparam param="/airs/config/imu"   subst_value="True">1</rosparam>
	<node pkg="hg_nav_node" name="pub" type="serial_publisher_nav" args="/dev/ttyn580 921600"/>
	<node pkg="hg_nav_node" name="tf" type="vehicle_tf" args="$(find hg_nav_node)/launch/vehicle_tf.yaml"/>
	<include file="$(find honeywell_rad_to_deg)/launch/honeywell_rad_to_deg_launcher.launch" />
	<include file="$(find hg_nav_node)/launch/n580_imu_launcher.launch" />


  <include file="$(find hg_nav_node)/launch/imu_heading.launch" /> 

</launch>
