<!-- -*- mode: XML -*- -->
<!-- run hg_nav_node/serial_publisher_nav via /dev/ttyUSB0 at 921600 -->
<!-- feed the 0x2311 inertial data to the turtle sim -->

<launch>

<group ns="HgDataProvider">
	<node pkg="hg_nav_node" name="pub" type="serial_publisher_nav"/>
	<node pkg="turtlesim" name="sim" type="turtlesim_node"/>
	<node pkg="hg_nav_node" name="sub" type="listener_example_nav"/>
</group>

</launch>
